{% load static %}

<!DOCTYPE html>
<html>
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href= "{% static 'allmovies.css' %}">
     <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap" rel="stylesheet"> 
     <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous"> 
</head>
<body>
<section id="infinity">
<center>
    <h2 class="saga">COLLECTION OF ALL MOVIES WITH PHASES</h2>
 </center>
 <br />
 <center>
     <img id="allheroimage" src="https://dl.dropboxusercontent.com/s/akg95ivsy3u2eom/kindpng_1159036.png?dl=0"></img>
 </center>
  <p class="p">The Marvel Cinematic Universe (MCU) is an American media franchise and sharedThe Marvel Cinematic Universe (MCU) is an American media franchise universe focused on a series of Marvel Studios independently created superhero filma focused on characters that appear in Marvel Comics' American comic books.The brand encompasses comic books, short films,TV shows, and digital media. The shared universe was created by crossing over common plot elements, environments, cast, and characters, much like the original Marvel Universe in comic books.
 <style>
     button.trailor{
    border-radius:10px;
    font-size:30px; 
    border-color:transparent ;
    }
a.lnk{ text-decoration:none;
           color:#e2e2e3;
           font-family:'Yanone Kaffeesatz', sans-serif;
           }
ul{  list-style-type:disc;
       line-height:80%}

</style>

</p>
  </section>
  
<!---_-_-_-_-_-_-_--_-_-_-_-_-_-_-_-_--_-_-_-_-_-_--___--_-_-_-_--_-__--__--->  
  
  <section id="movies">
    <h1 id="h1">Phases </h1></center>
       <div class="ln">
   </div>
 <div class="movie">
   <h2 class="phases">Phase1</h2>
   
   {% for movie in movies %}
   
     <div class="A">
       <i class="fab fa-imdb" id="e"><b id="f">  : {{ movie.imdb }} /10</b></i>
       <p class="g"><b>&#127813:   {{ movie.rotten }} %</b></p>
      <img class="AVEN" src= {{ movie.image.url }} ><b>{{ movie.name }}</b></img>  </div>
      <div class="content">
<font size="5" face="'Yanone Kaffeesatz', sans-serif">
  <table id="ironmant">
   <tr>
   <td><b>Production
company</b></td>
   <td>
   <ul>
   {% for i in comp %}
   <li>{{ i.name }}</li>
   {% endfor %}
   </ul>
   </td>
   </tr>
   <tr>
   <td><b>Directed by:</b></td>
   <td>
   <ul>
   {% for i in direct %}
   <li>{{ i.name }}</li>
   {% endfor %}
   </ul>
   </td>
   
   </tr>
   <tr>
   <td><b>Produced by:</b></td>
   <td>
   <ul>
   {% for i in produce %}
   <li>{{ i.name }}</li>
   {% endfor %}
   </ul>
   </td>
   </tr>
   <tr>
   <td><b>Starring:</b></td>
   <td>
   <ul>
   {% for i in movies %}
     {% for j in connector %}
         {% if i == j.movie %} 
               <li>{{ j.actor.name }}</li>
         {% endif %}
     {% endfor %}
{% endfor %}
             
   
   </ul>
   </tr>
   <tr>
   <td><b>Running Time:</b>
   <td>
   <ul>
   <li>{{ movie.runtime }}minutes</li>
   </ul>
   </td>
   </tr>
   </tr>
   <tr>
   <td><b>Language:</b>
   <td>
   <ul>
   <li>{{ movie.language }}</li>
   </ul>
   </td>
   </tr>
   </tr>
   <tr>
   <td><b>Box Office:</b>
   </td>
   <td>
   <ul>
   <li>${{ movie.collection }}million</li>
   </ul>
   </td>
   </tr>
   <tr>
   <td><b>Release Date:</b>
   </td>
   <td>
   <ul>
   <li>{{ movie.release }}</li>
   </ul>
   </td>
   </tr>
   </table>
</font>
    <center>
    <button class="trailor">
    <a class="lnk" href="https://youtu.be/8ugaeA-nMTc"> <b>Watch Trailer</b> </a>
    </button>
    </center>
   </div>
   {% endfor %}
   
   
   
   </div>
  </section>
  
  
  <script>
var coll = document.getElementsByClassName("A");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    } 
  });
}
</script>
  
  
  
  
<!--------------------------------------------------->
  
<section id="contact">
   <div class="about">
   <center>
   <h2 class="abo"><i><u>About </u></i></h2>
   <p class="abbo">The Marvel Cinematic Universe (MCU) is shared universe centered on a series of superhero films, independently produced by Marvel Studios and based on characters that appear in American comic books Written by Stan Lee.</p>
   <p class="abbo">Now all Marvel fans need special place to see their favourite movies at one place.
    <div id="line">
   </div>
   <h2 class="abo"><i><u>Follow us</u></i><h2>
    <div class="media">
                <button><a href=" https://m.facebook.com/profile.php?ref=bookmarks"><i class="fab fa-facebook-f" id="facebook"></i></a>
                </button> 
                <button><a href="https://www.instagram.com/vishal_pandey_07/"><i class="fab fa-instagram" id="insta"></i></a>
                 </button> 
                 <button><a href="https://github.com/Vishalpandey1247"><i class="fab fa-github" id="git"></i></a>
                 </button>
                 <button><a href="https://mobile.twitter.com/VISHALP50203892"><i class="fab fa-twitter" id="tweet"></i></a>
                 </button>
      </center> 
    </div>
</section>

 <div id="copy">
         <center>
         <p id="last" class="last1">© 2020 : Marvel's Movie Collection</p>
         </center>
      </div>
  
</body>
</html>