{% load static %}

<!DOCTYPE html>
<html>
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{% static 'antman.css' %}">
     <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap" rel="stylesheet"> 
     <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous"> 
</head>
<body>
<section id="antman">

<h2 class="sccot">ANT MAN</h2>


<center>
    
<img id="antmanimage" src="https://dl.dropboxusercontent.com/s/d9tvpxzajkp5mn9/6-2-ant-man-free-png-image.png?dl=0"></img>
 </center>
  <p class="p">Peter Parker was an orphan who was raised as an ordinary teenager by his Aunt May and Uncle Ben. He deals with the usual difficulties of being young, until a he bitten by radioactive spider. Due to that he got some powers His powers were super strength, stamina, the ability to cling to nearly any surface,  the ability to shoot spider webs using a system he invented that he called "web-shooters".
</p>
  </section>
  
<!---_-_-_-_-_-_-_--_-_-_-_-_-_-_-_-_--_-_-_-_-_-_--___--_-_-_-_--_-__--__--->  
  
  <section id="movies">
    <h1 id="h1"><u>Movies </u></h1></center>
 <div class="movie">
   
   <div class="ant">
    <i class="fab fa-imdb" id="e"><b id="f">  :7.3/10</b></i>
   <p class="g"><b>&#127813:   83%</b></p>
   <img class="lang" src="https://dl.dropboxusercontent.com/s/u534llj6gycnr76/1101783.jpg?dl=0"><b>Ant Man</b></img></div>
   
   <div class="content">
   <font size="5" face="'Yanone Kaffeesatz', sans-serif">
  <table id="anttable">
    <tr>
   <td><b>Production
company</b></td>
   <td>
   <ul>
   <li>Marvel Studios</li>
   </ul>
   </td>
   </tr>
   <tr>
   <td><b>Directed by:</b></td>
   <td>
   <ul><li>Peyton Reed </li></ul>
   </td>
   
   </tr>
   <tr>
   <td><b>Produced by:</b></td>
   <td>
   <ul>
   <li>Kevin Feige</li>
   </ul>
   </td>
   </tr>
   <tr>
   <td><b>Starring:</b></td>
   <td>
   <ul>
   <li>Paul Rudd</li>
   <li>Evangeline Lilly</li>
   <li>Corey Stoll</li>
   <li>Bobby Cannavale</li>
   <li>Michael Peña</li>
   <li>Tip "T.I." Harris</li>
   <li>Anthony Mackie</li>
   <li>Wood Harris</li>
   <li>Judy Greer</li>
   <li>David Dastmalchian</li>
   <li>Michael Douglas</li>
   
   </ul>
   </tr>
   <tr>
   <td><b>Running Time:</b>
   <td>
   <ul>
   <li>117 minutes</li>
   </ul>
   </td>
   </tr>
   </tr>
   <tr>
   <td><b>Language:</b>
   <td>
   <ul>
   <li>English</li>
   </ul>
   </td>
   </tr>
   </tr>
   <tr>
   <td><b>Box Office:</b>
   </td>
   <td>
   <ul>
   <li>$519.3 million</li>
   </ul>
   </td>
   </tr> 
  </table> 
  </font>     
   </div>
   
   <div class="ant">
    <i class="fab fa-imdb" id="e"><b id="f">  :7.1/10</b></i>
   <p class="g"><b>&#127813:   87%</b></p>
   <img class="lang" src="https://dl.dropboxusercontent.com/s/t5gvju3ccqb9h8h/1101784.jpg?dl=0"><b>Ant Man And The Wasp</b></img> </div>
   
   <div class="content">
   <font size="5" face="'Yanone Kaffeesatz', sans-serif">
   <table id="anttable">
    <tr>
   <td><b>Production
company</b></td>
   <td>
   <ul>
   <li>Marvel Studios</li>
   </ul>
   </td>
   </tr>
   <tr>
   <td><b>Directed by:</b></td>
   <td>
   <ul><li>Peyton Reed </li></ul>
   </td> 
   </tr>
   <tr>
   <td><b>Produced by:</b></td>
   <td>
   <ul>
   <li>Kevin Feige</li>
   <li>Stephen Broussard</li>
   </ul>
   </td>
   </tr>
   <tr>
   <td><b>Starring:</b></td>
   <td>
   <ul>
   <li>Paul Rudd</li>
   <li>Evangeline Lilly</li>
   <li>Michael Peña</li>
   <li>Walton Goggins</li>
   <li>Bobby Cannavale</li>
   <li>Judy Greer</li>
   <li>Tip "T.I." Harris</li>
   <li>David Dastmalchian</li>
   <li>Hannah John-Kamen</li>
   <li>Abby Ryder Fortson</li>
   <li>Randall Park</li>
   <li>Michelle Pfeiffer</li>
   <li>Laurence Fishburne</li>
   <li>Michael Douglas</li>
   </ul>
   </tr>
   <tr>
   <td><b>Running Time:</b>
   <td>
   <ul>
   <li>118 minutes</li>
   </ul>
   </td>
   </tr>
   </tr>
   <tr>
   <td><b>Language:</b>
   <td>
   <ul>
   <li>English</li>
   </ul>
   </td>
   </tr>
   </tr>
   <tr>
   <td><b>Box Office:</b>
   </td>
   <td>
   <ul>
   <li>$622.7 million</li>
   </ul>
   </td>
   </tr>
   </table> 
   </font>   
   </div>
   
   
   </div>
   </section>
 
 
   
<script>
var coll = document.getElementsByClassName("ant");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    } 
  });
}
</script>

<!--------------------------------------------------->
  
<section id="contact">
   <div class="about">
   <center>
   <h2 class="abo"><i><u>About </u></i></h2>
   <p class="abbo">The Marvel Cinematic Universe (MCU) is shared universe centered on a series of superhero films, independently produced by Marvel Studios and based on characters that appear in American comic books Written by Stan Lee.</p>
   <p class="abbo">Now all Marvel fans need special place to see their favourite movies at one place.
    <div id="line">
   </div>
   <h2 class="abo"><i><u>Follow us</u></i><h2>
    <div class="media">
                <button><a href=" https://m.facebook.com/profile.php?ref=bookmarks"><i class="fab fa-facebook-f" id="facebook"></i></a>
                </button> 
                <button><a href="https://www.instagram.com/vishal_pandey_07/"><i class="fab fa-instagram" id="insta"></i></a>
                 </button> 
                 <button><a href="https://github.com/Vishalpandey1247"><i class="fab fa-github" id="git"></i></a>
                 </button>
                 <button><a href="https://mobile.twitter.com/VISHALP50203892"><i class="fab fa-twitter" id="tweet"></i></a>
                 </button>
      </center> 
    </div>
</section>

 <div id="copy">
         <center>
         <p id="last" class="last1">© 2020 : Marvel's Movie Collection</p>
         </center>
      </div>
  
</body>
</html>