{% load static %}

<!DOCTYPE html>
<html>
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{% static 'captainmarvel.css' %}">
     <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap" rel="stylesheet"> 
     <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous"> 
</head>
<body>
<section id="captainmarvel">

<center>
  <h2 class="marvel">CAPTAIN MARVEL</h2>  
</center>
<center>
    <img id="captainimage" src="https://dl.dropboxusercontent.com/s/xw5gm21f97frd2z/PngItem_5101101.png?dl=0"></img>
</center>
  <p class="p">T'Challa now prepares to be proclaimed new king of Wakanda after his father's death. T'Challa, however, finds that his position is now being threatened by the arrival of an old adversary called Killmonger, which endangers both Wakanda and the planet. Teaming with the Dora Milaje, his little sister Shuri and his CIA ally Everett K. Ross, T'Challa must harness the  Black Panther's forces to fight against his enemy and save Wakanda from destruction.
</p>
  </section>
  
<!---_-_-_-_-_-_-_--_-_-_-_-_-_-_-_-_--_-_-_-_-_-_--___--_-_-_-_--_-__--__--->  
  
  <section id="movies">
    <h1 id="h1"><u>Movies</u></h1></center>
 <div class="movie">
   
   <div class="Earth">
   <i class="fab fa-imdb" id="e"><b id="f">  :6.9/10</b></i>
   <p class="g"><b>&#127813:   79%</b></p>
   <img class="fury" src="https://dl.dropboxusercontent.com/s/jvtbh2stv49ik8p/2155558.jpg?dl=0"><b>CAPTAIN MARVEL</b></img></div>
   
   <div class=content>
   <font size="5" face="'Yanone Kaffeesatz', sans-serif">
  <table id="captainmarvelt">
   <tr>
   <td><b>Production
company</b></td>
   <td>
   <ul class="m">
   <li>Marvel Studios</li>
   </ul>
   </td>
   </tr>
   <tr>
   <td><b>Directed by:</b></td>
   <td>
   <ul class="m"><li>Anna Boden</li>
   <li>Ryan Fleck</li></ul>
   </td>
   </tr>
   <tr>
   <td><b>Produced by:</b></td>
   <td>
   <ul class="m">
   <li>Kevin Feige</li>
   </ul>
   </td>
   </tr>
   <tr>
   <td><b>Starring:</b></td>
   <td>
   <ul class="m">
   <li>Brie Larson</li>
   <li>Samuel L. Jackson</li>
   <li>Ben Mendelsohn</li>
   <li>Djimon Hounsou</li>
   <li>Lee Pace</li>
   <li>Lashana Lynch</li>
   <li>Gemma Chan</li>
   <li>Annette Bening</li>
   <li>Clark Gregg</li>
   <li>Jude Law</li>
   </ul>
   </tr>
   <tr>
   <td><b>Running Time:</b>
   <td>
   <ul class="m">
   <li>124 minutes</li>
   </ul>
   </td>
   </tr>
   </tr>
   <tr>
   <td><b>Language:</b>
   <td>
   <ul class="m">
   <li>English</li>
   </ul>
   </td>
   </tr>
   </tr>
   <tr>
   <td><b>Box Office:</b>
   </td>
   <td>
   <ul class="m">
   <li>$1.128 million</li>
   </ul>
   </td>
   </tr>
   </table>
   </font>
  </div>
   
 </div>
</section>
  
<script>
var coll = document.getElementsByClassName("Earth");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    } 
  });
}  
</script>  
  
<!--------------------------------------------------->
  
<section id="contact">
   <div class="about">
   <center>
   <h2 class="abo"><i>About</i></h2>
   <div class="line1"></div>
   <p class="abbo">The Marvel Cinematic Universe (MCU) is shared universe centered on a series of superhero films, independently produced by Marvel Studios and based on characters that appear in American comic books Written by Stan Lee.</p>
   <p class="abbo">Now all Marvel fans need special place to see their favourite movies at one place.
    <div id="line">
   </div>
   <h2 class="abo"><i>Follow us</i><h2>
   <div class="line1"></div>
    <div class="media">
                <button><a href=" https://m.facebook.com/profile.php?ref=bookmarks"><i class="fab fa-facebook-f" id="facebook"></i></a>
                </button> 
                <button><a href="https://www.instagram.com/vishal_pandey_07/"><i class="fab fa-instagram" id="insta"></i></a>
                 </button> 
                 <button><a href="https://github.com/Vishalpandey1247"><i class="fab fa-github" id="git"></i></a>
                 </button>
                 <button><a href="https://mobile.twitter.com/VISHALP50203892"><i class="fab fa-twitter" id="tweet"></i></a>
                 </button>
      </center> 
    </div>
</section>

 <div id="copy">
         <center>
         <p id="last" class="last1">© 2020 : Marvel's Movie Collection</p>
         </center>
      </div>
  
</body>
</html>