{% load static %}

<!DOCTYPE html>
<html>
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{% static 'guardians.css' %}">
     <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap" rel="stylesheet"> 
     <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous"> 
</head>
<body>
<section id="guardians">

<h2 class="galaxy">GUARDIANS OF GALAXY</h2>


<center>
    
<img id="guardiansimage" src="https://dl.dropboxusercontent.com/s/sopp4phg3ww72k7/Guardians-of-The-Galaxy-Transparent.png?dl=0"></img>
 </center>
  <p class="p">A group of intergalactic criminals with plans to purge the universe must pull together to stop a fanatical warrior. Peter Quill from Earth has now been the main target of a manhunt led by the villain known as Ronan the Accuser, after stealing a mysterious orb in the far reaches of outer space.
</p>
  </section>
  
<!---_-_-_-_-_-_-_--_-_-_-_-_-_-_-_-_--_-_-_-_-_-_--___--_-_-_-_--_-__--__--->  
  
  <section id="movies">
    <h1 id="h1"><u>Movies </u></h1></center>
 <div class="movie">
   
   <div class="groot">
   <i class="fab fa-imdb" id="e"><b id="f">  :8/10</b></i>
   <p class="g"><b>&#127813:   91%</b></p>
   <img class="rocket" src="https://dl.dropboxusercontent.com/s/bpe7ccqts3t2gav/735247.jpg?dl=0"><b>Guardians Of Galaxy Vol 1</b></img> 
   </div>
    <div class="content">
    <font size="5" face="'Yanone Kaffeesatz', sans-serif">
   <table id="gogtable">
    <tr>
   <td><b>Production
company</b></td>
   <td>
   <ul>
   <li>Marvel Studios</li>
   </ul>
   </td>
   </tr>
   <tr>
   <td><b>Directed by:</b></td>
   <td>
   <ul><li>James Gunn </liv></ul>
   </td>
   
   </tr>
   <tr>
   <td><b>Produced by:</b></td>
   <td>
   <ul>
   <li>Kevin Feige</li>
   </ul>
   </td>
   </tr>
   <tr>
   <td><b>Starring:</b></td>
   <td>
   <ul>
   <li>Chris Pratt</li>
   <li>Zoe Saldana</li>
   <li>Dave Bautista</li>
   <li>Vin Diesel</li>
   <li>Bradley Cooper</li>
   <li>Lee Pace</li>
   <li>Michael Rooker</li>
   <li>Djimon Hounsou</li>
   <li>Karen Gillan</li>
   <li>John C. Reilly</li>
   <li>Glenn Close</li>
   <li>Benicio del Toro</li>
   </ul>
   </tr>
   <tr>
   <td><b>Running Time:</b>
   <td>
   <ul>
   <li>122 minutes</li>
   </ul>
   </td>
   </tr>
   </tr>
   <tr>
   <td><b>Language:</b>
   <td>
   <ul>
   <li>English</li>
   </ul>
   </td>
   </tr>
   </tr>
   <tr>
   <td><b>Box Office:</b>
   </td>
   <td>
   <ul>
   <li>$772.8 million</li>
   </ul>
   </td>
   </tr>
   </table>  
  </font>
  </div>
  
  
   
   <div class="groot">
   <i class="fab fa-imdb" id="e"><b id="f">  :7.6/10</b></i>
   <p class="g"><b>&#127813:   85%</b></p>
   <img class="rocket" src="https://dl.dropboxusercontent.com/s/om120n4733lo7n8/735245.jpg?dl=0"><b>Thor:The Dark World</b></img> 
   </div>
    <div class="content">
     <font size="5" face="'Yanone Kaffeesatz', sans-serif">
   <table id="gogtable">
   <tr>
   <td><b>Production
company</b></td>
   <td>
   <ul>
   <li>Marvel Studios</li>
   </ul>
   </td>
   </tr>
   <tr>
   <td><b>Directed by:</b></td>
   <td>
   <ul><li>James Gunn </liv></ul>
   </td>
   
   </tr>
   <tr>
   <td><b>Produced by:</b></td>
   <td>
   <ul>
   <li>Kevin Feige</li>
   </ul>
   </td>
   </tr>
   <tr>
   <td><b>Starring:</b></td>
   <td>
   <ul>
   <li>Chris Pratt</li>
   <li>Zoe Saldana</li>
   <li>Dave Bautista</li>
   <li>Vin Diesel</li>
   <li>Bradley Cooper</li>
   <li>Michael Rooker</li>
   <li>Karen Gillan</li>
   <li>Pom Klementieff</li>
   <li>Elizabeth Debicki</li>
   <li>Chris Sullivan</li>
   <li>Sean Gunn</li>
   <li>Sylvester Stallone</li>
   <li>Kurt Russell</li>
   </ul>
   </tr>
   <tr>
   <td><b>Running Time:</b>
   <td>
   <ul>
   <li>137 minutes</li>
   </ul>
   </td>
   </tr>
   </tr>
   <tr>
   <td><b>Language:</b>
   <td>
   <ul>
   <li>English</li>
   </ul>
   </td>
   </tr>
   </tr>
   <tr>
   <td><b>Box Office:</b>
   </td>
   <td>
   <ul>
   <li>$863.8 million</li>
   </ul>
   </td>
   </tr>
   </table>
  
  </font>  
   </div>
   
 </div>
  </section>
  
  <script>
var coll = document.getElementsByClassName("groot");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    } 
  });
}
</script>

  
<!--------------------------------------------------->
  
<section id="contact">
   <div class="about">
   <center>
   <h2 class="abo"><i><u>About </u></i></h2>
   <p class="abbo">The Marvel Cinematic Universe (MCU) is shared universe centered on a series of superhero films, independently produced by Marvel Studios and based on characters that appear in American comic books Written by Stan Lee.</p>
   <p class="abbo">Now all Marvel fans need special place to see their favourite movies at one place.
    <div id="line">
   </div>
   <h2 class="abo"><i><u>Follow us</u></i><h2>
    <div class="media">
                <button><a href=" https://m.facebook.com/profile.php?ref=bookmarks"><i class="fab fa-facebook-f" id="facebook"></i></a>
                </button> 
                <button><a href="https://www.instagram.com/vishal_pandey_07/"><i class="fab fa-instagram" id="insta"></i></a>
                 </button> 
                 <button><a href="https://github.com/Vishalpandey1247"><i class="fab fa-github" id="git"></i></a>
                 </button>
                 <button><a href="https://mobile.twitter.com/VISHALP50203892"><i class="fab fa-twitter" id="tweet"></i></a>
                 </button>
      </center> 
    </div>
</section>

 <div id="copy">
         <center>
         <p id="last" class="last1">© 2020 : Marvel's Movie Collection</p>
         </center>
      </div>
  
</body>
</html>